html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 20px;
}

.page-overview {
	background-color: black;
	color: white;

	.modal {
		color: black;

		.modal-footer {
			text-align: left;
		}

		.bookmarklet-link {
			float: left;
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 20px;
}

#settings {
	background-color: black;
	max-width: 600px;
	border: 1px solid #ccc;
	padding: 6px;
}

.overview-table {
	.score {
		font-size: 300%;
		text-align: center;
	}

	.title {
		width: 10%;
		white-space: nowrap;
	}

	.red, .blue {
		width: 45%;
	}

	.red {
		text-align: right;
	}

	.player {
		font-size: 16px;
		line-height: 22px;

		.dead {
			color: red !important;
		}

		.auth {
			color: #bfff00;
		}

		.degree {
			width: 20px;
		}

		&.red .icons {
			float: left;
		}

		&.blue .icons {
			float: right;
		}

		.icons {
			white-space: nowrap;
		}
	}
}

.sprite-tiles {
	background-image: url('http://maptest.newcompte.fr/images/tiles.png');
	display: inline-block;
	width: 40px;
	height: 40px;
}

.sprite-redball {
	background-position: -560px 0;
}

.sprite-blueball {
	background-position: -600px 0;
}

.sprite-small {
	background-size: 320px 220px;
	width: 20px;
	height: 20px;
}

.sprite-flair {
	background-image: url('http://maptest.newcompte.fr/images/flair.png');
	display: inline-block;
	width: 16px;
	height: 16px;
}

.flair-empty {
	background-position: -160px -144px;
}