html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 20px;
}

.page-overview {
  background-color: black;
  color: white;
}
.page-overview .modal {
  color: black;
}
.page-overview .modal .modal-footer {
  text-align: left;
}
.page-overview .modal .bookmarklet-link {
  float: left;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 20px;
}

#settings {
  background-color: black;
  max-width: 600px;
  border: 1px solid #ccc;
  padding: 6px;
}

.overview-table .score {
  font-size: 300%;
  text-align: center;
}
.overview-table .title {
  width: 10%;
  white-space: nowrap;
}
.overview-table .red, .overview-table .blue {
  width: 45%;
}
.overview-table .red {
  text-align: right;
}
.overview-table .player {
  font-size: 16px;
  line-height: 22px;
}
.overview-table .player .dead {
  color: red !important;
}
.overview-table .player .auth {
  color: #bfff00;
}
.overview-table .player .degree {
  width: 20px;
}
.overview-table .player.red .icons {
  float: left;
}
.overview-table .player.blue .icons {
  float: right;
}
.overview-table .player .icons {
  white-space: nowrap;
}

.sprite-tiles {
  background-image: url("http://maptest.newcompte.fr/images/tiles.png");
  display: inline-block;
  width: 40px;
  height: 40px;
}

.sprite-redball {
  background-position: -560px 0;
}

.sprite-blueball {
  background-position: -600px 0;
}

.sprite-small {
  background-size: 320px 220px;
  width: 20px;
  height: 20px;
}

.sprite-flair {
  background-image: url("http://maptest.newcompte.fr/images/flair.png");
  display: inline-block;
  width: 16px;
  height: 16px;
}

.flair-empty {
  background-position: -160px -144px;
}
