html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

iframe {
	border: 0;
}

.screen {
	border: 1px solid #ccc;

	.wrapper {
		width: 100%;
		height: 100%;
		position: relative;
	}

	iframe {
		width: 100%;
		height: 100%;
	}

	.handle {
		color: #ccc;
		display: none;
		position: absolute;
		line-height: 1;

		span {
			vertical-align: bottom;
		}

		.resize-mode & {
			display: block;
		}
	}

	.drag-handle {
		top: 50%;
		left: 50%;

		$size: 50px;

		font-size: $size;
		margin-left: -$size / 2;
		margin-top: -$size / 2;

		&:hover {
			margin-left: -$size;
			margin-top: -$size;
			padding: $size / 2;
		}
	}

	.resize-handle {
		$size: 50px;

		bottom: $size;
		right: $size;
	
		font-size: $size;
		margin-right: -$size / 2;
		margin-bottom: -$size / 2;

		&:hover {
			margin-right: -$size;
			margin-bottom: -$size;

			padding: $size / 2;	
		}
	}
}

.screen-main {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ddd;
}

.screen-second {
	position: absolute;
	top: 0;
	background-color: #eee;
}

.screen-overview {
	position: absolute;
	bottom: 0;
	z-index: 0;
}

.settings {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 400px;
	text-align: right;
	z-index: 1000;
}

.settings-button {
	color: #222;
}

.settings-panel {
	background-color: #111;
	padding: 10px;
}

.page-overview {
	background-color: black;
	color: white;
	padding: 10px;
	overflow: auto;
}

.connect-button {
	color: #222;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1000;
}

.overview-table {
	.score {
		font-size: 300%;
		text-align: center;
	}

	.title {
		width: 10%;
		white-space: nowrap;
	}

	.red, .blue {
		width: 45%;
	}

	.red {
		text-align: right;
	}

	.player {
		font-size: 16px;
		line-height: 22px;

		.dead {
			color: red;
		}

		&.red .icons {
			float: left;
		}

		&.blue .icons {
			float: right;
		}

		.icons {
			white-space: nowrap;
		}
	}
}

.sprite-tiles {
	background-image: url('http://maptest.newcompte.fr/images/tiles.png');
	display: inline-block;
	width: 40px;
	height: 40px;
}

.sprite-redball {
	background-position: -560px 0;
}

.sprite-blueball {
	background-position: -600px 0;
}

.sprite-small {
	zoom: 0.5;
}

.sprite-flair {
	background-image: url('http://maptest.newcompte.fr/images/flair.png');
}